<h1 class="shopping-list-title">
  Shopping <span class="shopping-list-title-part">List</span>
</h1>
<div class="shopping-list-container">
    <p class="shopping-list-text">This page is empty, add some books and proceed to order.</p>
    <img class="shopping-list-image" srcset="
            ./images/shopping-list-images/books-desk@1x.png 1x,
            ./images/shopping-list-images/books-desk@2x.png 2x
            " src="./images/shopping-list-images/books-mob@1x.png" alt="books" width="265" height="198" />
  </div>
<!-- <ul class="js-shopping-list">
  <li class="shopping-list-item">
    <img class="shopping-list-card-img" src="./images/shopping-list-images/Rectangle 13.png" alt="book">
    <div class="shopping-list-card-container">
      <h2 class="shopping-list-card-title">I will find you</h2>
      <p class="shopping-list-card-text">Hardcover fiction</p>
      <p class="shopping-list-card-desc">
        David Burroughs was once a devoted father to his three-year-old son Matthew, living a dream life just a short
        drive away
        from the working-class suburb where he and his wife, Cheryl, first fell in love--until one fateful night when
        David woke
        suddenly to discover Matthew had been murdered while David was asleep just down the hall.
      </p>
      <div class="shopping-list-card-bottom-container">
        <p class="shopping-list-card-author">Harlan Coben</p>
        <div class="shopping-list-card-container-img">
          <img class="shopping-list-card-icon-amazon" src="./images/shopping-list-images/image 1.png" alt="amazon-icon">
          <img class="shopping-list-card-icon-book" src="./images/shopping-list-images/image 2.png" alt="book-icon">
        </div>
      </div>
    </div>
  </li>
</ul> -->