<header class="header">
  <div class="container">
    <div class="left-col">
      <a href="./index.html" class="logo" aria-label="Logo link on page">
        <svg width="109" height="28" aria-label="Page Logo">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="menu">
        <li class="menu-item home">
          <a href="./index.html" class="menu-link" aria-label="Home">Home</a>
        </li>
        <li class="menu-item">
          <a
            href="./shoppingList.html"
            class="menu-link"
            aria-label="Shopping list"
            >Shopping list
            <svg width="20" height="20" aria-label="lock icon">
              <use href="./images/icons.svg#lock"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="right-col">
      <div class="box-toggle">
        <div class="circle">
          <img src="./images/toggle.svg" alt="toggle" />
        </div>
      </div>
      <button
        type="button"
        class="avatar-button btn-main-signup"
        id="sign-in-button-main"
        aria-label="Sign in button main page icon"
      >
        <span class="box-sign-up">
          Sign up
          <svg
            width="23"
            height="26"
            class="icon"
            aria-label="Sign in button icon"
          >
            <use href="./images/icons.svg#arrow-narrow-right"></use>
          </svg>
        </span>
      </button>
      <button
        type="button"
        class="mob-menu"
        id="mobile-burger"
        aria-label="Mobile menu button icon"
      >
        <svg
          width="26"
          height="26"
          class="hamburger"
          aria-label="Mobile menu open icon"
        >
          <use href="./images/icons.svg#burger"></use>
        </svg>
        <svg
          width="26"
          height="26"
          class="close"
          aria-label="Mobile menu close icon"
        >
          <use href="./images/icons.svg#x-close"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
