<div class="box-mob-menu">
  <button
    type="button"
    class="mob-avatar"
    id="sign-in-button"
    aria-label="Sign in button"
  >
    <span class="box-sign-up">
      Sign up
      <svg width="23" height="26" class="icon" aria-label="Sign in button icon">
        <use href="./images/icons.svg#arrow-narrow-right"></use>
      </svg>
    </span>
  </button>

  <ul class="mobile-menu-navigation">
    <li class="mobile-menu-nav-item">
      <a
        href="./index.html"
        class="menu-link mobile"
        id="bestsellers"
        aria-label="Home"
        >Home</a
      >
    </li>
    <li class="mobile-menu-nav-item">
      <a
        href="./shopping-list.html"
        class="menu-link mobile"
        id="shop-page"
        aria-label="Shopping list"
        >Shopping list</a
      >
      <svg
        class="mobile-basket-icon"
        width="20"
        height="20"
        aria-label="lock icon"
      >
        <use href="./images/icons.svg#lock"></use>
      </svg>
    </li>
  </ul>
</div>
