<div class="modal" id="bookModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookModalTitle"></h5>
        <button
          type="button"
          class="modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <svg class="book-modal-close" width="24" height="24">
            <use href="./images/icons.svg#x-close"></use>
          </svg>
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>
      <div class="modal-body" id="bookModalBody">
        <!-- Тут буде показано деталі книги -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="addToShoppingList">
          Add to shopping list
        </button>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button> -->
      </div>
    </div>
  </div>
</div>
