<head>
  <body>
    <div class="registration-modal">
      <div class="modal-container">
        <form id="registrationForm">
          <button class="close-icon">
            <svg width="32" height="32" viewBox="0 0 32 32">
              <use xlink:href="#x-close"></use>
            </svg>
          </button>

          <div class="input">
            <div class="input-container">
              <label for="name">NAME</label>
              <input class="input-label" type="text" id="name" name="name" />
            </div>

            <div class="input-container">
              <label for="email">EMAIL</label>
              <input class="input-label" type="email" id="email" name="email" />
              <div class="input-icon">
                <svg width="32" height="32" viewBox="0 0 32 32">
                  <use xlink:href="#mail"></use>
                </svg>
              </div>
            </div>

            <div class="input-container">
              <label for="password">PASSWORD</label>
              <input
                class="input-label"
                type="password"
                id="password"
                name="password"
              />
              <div class="input-icon">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="#111">
                  <use xlink:href="#lock"></use>
                </svg>
              </div>
            </div>
          </div>

          <button type="submit" class="registration">SIGN UP</button>
          <div class="links">
            <button class="links-sign-up">SIGN UP</button>
            <button class="links-sign-in">SIGN IN</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</head>
