<div class="support-container">
  <div class="support-container-wrap">
    <div class="support-wraper">
      <h2 class="support-title">Support Ukraine</h2>
      <svg class="support-coat-of-arms" width="20" height="32">
        <use href="./images/icons.svg#coat-of-arroms"></use>
      </svg>
    </div>
    <ul class="support-list js-support-list"></ul>
    <div class="support-arrow-wrap">
      <span class="support-arrow support-arrow-up visually-hidden">
        <svg class="support-button" width="12" height="20">
          <use href="./images/icons.svg#small-arrow-up"></use>
        </svg>
      </span>
      <span class="support-arrow support-arrow-down">
        <svg class="support-button" width="12" height="20">
          <use href="./images/icons.svg#small-arrow-down"></use>
        </svg>
      </span>
    </div>
  </div>
</div>
<div class="scroll-up-container back-to-top">
  <span class="scroll-up">
    <svg class="scroll-up-icon" width="24" height="24">
      <use href="./images/icons.svg#scroll-up"></use>
    </svg>
  </span>
</div>