.ctg-container {
  width: 335px;
  height: 228px;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 0px;
  display: flex;
  /* gap: 24px; */
  flex-direction: column;

}
/* Tablet styles */
@media screen and (min-width: 768px) {
  .ctg-container {
    width: 337px;
    height: 472px;
    gap: 32px;
  }
}
/* Desktop styles */
@media screen and (min-width: 1440px) {
  .ctg-container {
    width: 356px;
  }
}
.ctg-item {
  color: rgba(17, 17, 17, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.32px;
  width: 307px;
  height: 18x;
  cursor: pointer;
}
/* Tablet styles */
@media screen and (min-width: 768px) {
  .ctg-item {
    width: 318px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}

.ctg-item:hover {
  color: var(--violet);

  font-weight: 700;

  text-transform: uppercase;
}

.ctg-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
  margin-right: 20px;
}
/* Tablet styles */
@media screen and (min-width: 768px) {
  .ctg-list {
    gap: 32px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #e0e0e0;
}
