.header-logo-container {
    width: 109px;
}

.header-burger-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    opacity: 1;
    width: 28px;
    height: 28px;
}

.header-mobile-burger {
    background-color: transparent;
    border: none;
}

.header-container {
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #ffffff;
}

.header-logo {
    display: flex;
}

.header-mobile {
    display: flex;
    justify-content: space-between;
}

.header-container {
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
}

.label-them {
    position: absolute;
    width: 40px;
    height: 20px;
    background: linear-gradient(#4F2EE8 0%, #dcdcdc 100%);
    border-radius: 20px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.span-theme {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: left 0.35s;
    cursor: pointer;
}

.header-nav-item {
    display: flex;
}

.header-link-item {
    font-weight: 500;
    display: flex;
    font-size: 14px;
    line-height: 18px;
    color: #111111;
    text-transform: uppercase;
}

.logo {
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.logo:hover {
    outline: none;
}

.logo:focus {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.header-link-item-home {
    font-weight: 500;
    margin-left: 40px;
}

.header-link-item,
.header-link-modal {
    border-radius: 36px;
    padding: 8px 16px;
}

.header-link-item-home {
    margin-left: 40px;
}

.header-link-item .heder-active {
    font-weight: 700;
}

/* .heder-active {
    background-color: rgba(234, 198, 69, 1);
} */

.header-item {
    border-radius: 36px;
}

.header-item-icon {
    margin-left: 8px;
}

.header-nav-item {
    display: flex;
    align-items: baseline;
}

.div-theme {
    position: relative;
    display: flex;
    align-items: center;
}

.header-user {
    display: flex;
    width: 184px;
    height: 45px;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background-color: #4F2EE8;
    padding: 14px 15px;
    border: 1.5px solid #111111;
    border-radius: 18px;
}

.header-logo-nav {
    display: flex;
    align-items: center;
}

.header-mobile-menu-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}



@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.header-mobile-box {
    position: relative;
}

.header-modal {
    position: absolute;
    top: -58px;
    right: -20.5px;
    width: 100%;
    width: 375px;
    height: 750px;
    margin-top: 59px;
    display: none;
    z-index: 1;
    animation-name: slide-down;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%,
            #4f2ee8 18.03%,
            #ffffff 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: 1.5px solid #111111;
}

.header-modal-image {
    background-image: url(../images/RTFM.png);
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: 2;
    top: 53%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .header-modal-image {
        background-image: url(../images/RTFM.png);
    }
}

.menu-toggle-close {
    position: absolute;
    top: -39px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-user-modal {
    display: flex;
    width: 133px;
    height: 37px;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background-color: #4F2EE8;
    padding: 14px 15px;
    border: 1.5px solid #111111;
    border-radius: 18px;
    top: 30px;
    left: 20px;
    position: absolute;
    align-items: center;
}

.header-user-modal-out {
    top: 680px;
    z-index: 300;
    background-color: #FFFFFF;
    color: #111111;
    width: 118px;
    height: 48px;
}

.header-nav-item-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 247px;
    left: 129px;
}

.header-link-modal-home {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #111111;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.header-link-modal.heder-active {
    font-weight: 700;
}

.header-link-modal-shopping {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
}

.header-link-modal .heder-active {
    border-radius: 36px;
    padding: 8px 16px;
}



.header-item-modal {
    margin-bottom: 23px;
}

.header-item-icon-modal {
    fill: #ffffff;
}

.hidden {
    display: none;
}


@media screen and (max-width: 767px) {
    .header-nav {
        display: none;
    }

    .header-modal {
        display: none;
    }

    .header-user {
        display: none;
    }

    .header-container {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

.header-box {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

.label-them {
    position: absolute;
    right: 45px;
}

@media screen and (min-width: 768px) {
    .header-mobile-burger {
        display: none;
    }

    .header-container {
        padding-top: 14px;
        padding-bottom: 13px;
    }

    .header-modal-container,
    .header-modal,
    .header-modal-content {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .header-link-item-home {
        margin-left: 76px;
    }

    .header-link-item-shopping {
        margin-left: 24px;
    }

    .header-modal-container,
    .header-modal,
    .header-modal-content {
        display: none;
    }
}

.autoriz-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: black;
    fill: #ffffff;
}

.heder-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 3;
    background-color: #4F2EE8;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-autoriz-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.modal-autoriz-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.autoriz-icon {
    fill: #ffffff;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 70px;
}

.heder-modal-autoriz {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #f6f6f6;
    border-radius: 18px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.header-form-input-password {
    position: relative;
}

.header-form-input-email {
    position: relative;
}

.autoriz-icon-password {
    position: absolute;
    top: 280px;
}

.autoriz-icon-email {
    position: absolute;
    top: 185px;
}

.header-form-input {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 173px;
    border: 2px solid rgba(17, 17, 17, 1);
    border-radius: 40px;
    width: 499px;
    height: 64px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgba(17, 17, 17, 1);
}

.header-form-field:not(:last-child) {
    margin-top: 28px;
}

.modal-autoriz-form .header-form-field:nth-child(3) {
    margin-bottom: 40px;
}

.header-form-btn {
    align-items: center;
    font-size: 18px;
    padding: 20px 215px;
    color: rgba(243, 243, 243, 1);
    background-color: #111111;
    border: 2px Solid #111111;
    border-radius: 40px;
    line-height: 24px;
    margin-bottom: 20px;
}

.header-form-link-box {
    display: flex;
    justify-content: center;
}

.header-form-link {
    font-size: 18px;
    color: rgba(17, 17, 17, 0.5);
    line-height: 24px;
    font-weight: 700;
}

.header-form-in {
    margin-left: 20px;
}


.btn-autoriz-user {
    display: flex;
    align-items: center;
    width: 184px;
    height: 45px;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    color: #ffffff;
    background-color: #4F2EE8;
    vertical-align: top;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 12px;
    border: 1.5px solid #111111;
    border-radius: 18px;
}

/* light-dark theme */
.header-logo-container {
    display: flex;
}

body.dark-theme,
.dark-theme .modal-fav,
.dark-theme .heder-modal-autoriz {
    background-color: #202024;

}

.dark-theme .header-container {
    background: #111111;
    border: 1.5px solid #FFF;

}

.dark-theme .label-them {
    background: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
}

.dark-theme .header-link-item .heder-active {
    color: #111111;
}

.dark-theme .header-link-item,
.dark-theme .modal-close-btn-icon {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.dark-theme .header-link-item .heder-active {
    font-weight: 700;
    color: #111111;
}

.dark-theme .nav-category-item {
    color: rgba(255, 255, 255, 0.6);
}

.dark-theme .header-item-icon,
.dark-theme .header-logo-icon {
    fill: #FFFFFF;

}

.dark-theme .nav-category-item.active,
.dark-theme .nav-category-item:hover,
.dark-theme .nav-category-item:active,
.dark-theme .nav-category-item:focus {
    color: #EAC645;
}

.dark-theme .gallery-title,
.dark-theme .gallery-book-name {
    color: #FFFFFF;
}

.dark-theme .gallery-see-more-btn {
    color: #FFFFFF;
}

.dark-theme .header-mobile-menu-icon,
.dark-theme .header-burger-icon {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.dark-theme .shoping-list-header,
.dark-theme .description-info .title-name,
.dark-theme .description-info .description-book,
.dark-theme .choice-btn,
.dark-theme .shopping-list-book-title,
.dark-theme .shopping-list-book-about {
    color: #FFFFFF;
}

.dark-theme .congrats {
    color: rgba(255, 255, 255, 0.5);
}

.dark-theme .choice-btn {
    background: transparent;
}

.dark-theme .brightness {
    filter: grayscale(100%) brightness(10);
}

.dark-theme .shopping-list-text {
    color: rgba(255, 255, 255, 0.6);
}

.dark-theme .modal-autoriz-close,
.dark-theme .header-modal-form-field,
.dark-theme .header-form-input {
    background: transparent;
}

.dark-theme .header-form-input {
    color: #F6F6F6
}

.dark-theme .modal-autoriz-icon,
.dark-theme .header-form-field,
.dark-theme .header-form-input,
.dark-theme .autoriz-icon {
    fill: none;
    stroke: #F6F6F6;
    color: #F6F6F6
}

.dark-theme .header-form-btn {
    background: #F6F6F6;
    color: #111111;
}

/**
  |============================
  | Style for conten home dark
  |============================
*/
.dark-theme .header-form-link {
    color: rgba(246, 246, 246, 0.5);
}

.dark-theme .ctg-item {
    color: rgba(255, 255, 255, 0.60);
}

.dark-theme .books-header {
    color: var(--white);
}

.dark-theme .book-title {
    color: var(--white);
}

.dark-theme .top-books-button {
    color: var(--white);
}

.dark-theme .ctg-item-active {
    color: var(--yellow);
}
.dark-theme .ctg-item:hover {
    color: var(--yellow);
}
.dark-theme  ::-webkit-scrollbar-thumb {
     background: rgba(17, 17, 17, 0.60);
 }
 /**
   |============================
   | Style for conten shoping list dark
   |============================
 */
 .dark-theme .shopping-list-title {
    color: var(--white);
 }
 .dark-theme .shopping-list-item {
    background-color: var(--black);
 }
 .dark-theme .shopping-list-card-desc{
    color: var(--white);
 }
 .dark-theme .shopping-list-card-title {
    color: var(--white);
 }