@import url('./reset.css');
@import url('./header.css');
@import url('./support-sidebar.css');
@import url('./content-shopping.css');


:root {
    /*Font*/
    --primary-font: "DM Sans",
        sans-serif;
    /* Ð¡olors */
    --black: #111;
    --black-one: #202024;
    --violet: #4F2EE8;
    --yellow: #EAC645;
    --white: #fff;
    --background-body-light: #F6F6F6;
    --background-body-dark: #202024;



    /* Other */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

}

@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-RegularItalic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Base style */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}