.support-img {
    filter: brightness(0) invert(1);
}

.support-container {
    border-radius: 16px;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
    box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
    width: 335px;
    height: 460px;
}

.support-container-wrap {
    padding: 24px 40px 20px;
}

@media only screen and (min-width: 768px) {
    .support-container-wrap {
        padding-top: 28px;
    }

    .support-container {
        width: 356px;
        height: 474px;
    }
}

.support-title {
    color: #FFF;
    font-family: DM Sans;
    font-size: 22px;
    line-height: 1.09;
    letter-spacing: -0.88px;
}

@media only screen and (min-width: 768px) {
    .support-title {
        line-height: 1.16;
        letter-spacing: -0.96px;
    }
}

.support-wraper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.support-coat-of-arms {
    display: block;
    fill: #FFFFFF;
}

.support-list {
    overflow-y: hidden;
    height: 292px;
    margin-bottom: 20px;
}

.support-items:not(:last-child) {
    margin-bottom: 20px;
}

.support-arrow {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .support-wraper {
        margin-bottom: 44px;
    }

    .support-arrow {
        width: 38px;
        height: 38px;
    }
}

.support-button {
    width: 100%;
    fill: #4F2EE8;
}

.support-arrow-up {
    display: none;
}

.support-link {
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
}